@model MyTradeMTG.Models.Home

@{
    ViewBag.Title = "ShareLinkRegistration";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="/MyTradeMTGWebsite/assets/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/UserPanel/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/UserPanel/css/style.css" rel="stylesheet">
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <style>
        .iti {
            width: 100% !important;
        }

        html, body {
            height: 100%;
        }
        .h-120
        {
            min-height:110vh
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("ShareLinkRegistration", "Home", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
    {
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-4 col-sm-12 offset-lg-4 h-120 mb-0">
                    <div class="card h-120">
                        <!--Register Form start-->
                        <div class="user_register card-body">
                            <form role="form" id="myForm" method="post" name="myForm" class="form-horizontal contact-form" action="/Website/RegistrationAction">
                                <div class="row">
                                    <div class="card-title text-center">
                                        <img src="/MyTradeMTGWebsite/asset/img/wbg.gif" class="img-fluid" alt="" />
                                        <h3>Sign Up</h3>
                                    </div>
                                    @if (ViewBag.SponsorId != null && ViewBag.SponsorId != "")
                                {
                                        <h5 class="mb-2" style="color:#004eff; font-size: 14px;">Congratulations ! For joining us under sponsor code :@ViewBag.SponsorName (@ViewBag.SponsorId)</h5>
                                        <input type="hidden" value="@ViewBag.SponsorId" id="SponsorId" name="SponsorId" />
                                }
                                else
                                {
                                        <div class="col-lg-12 form-group">
                                            @Html.TextBoxFor(m => m.SponsorId, new { @class = "form-control", @onchange = "getsponsordetails(this);", @required = true, @placeholder = "Sponsor Id*" })
                                            @Html.ValidationMessageFor(m => m.LoginId)
                                            <label class="ml-3" style="color:#ffd234;" id="SponsorName"></label>
                                        </div>
                                }

                                    <div class="col-lg-12 form-group">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name*", @required = "true", @onkeypress = "return onlyAlphabets(event,this);" })

                                    </div>
                                    <div class="col-lg-12 form-group">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name", @onkeypress = "return onlyAlphabets(event,this);" })

                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <input name="phone1" type="text" class="form-control mb-2 inptFielsd" id="phone1"
                                               placeholder="Mobile Number" />
                                        <input id="country" type="hidden" name="country">
                                        <div style="display:none;">
                                            <span id="country1"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email*", @Onchange = "checkEmail();" })

                                    </div>
                                    <div class="col-lg-12 form-group">
                                        @Html.PasswordFor(m => m.Password2, new { @class = "form-control", @placeholder = "Password*" })
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password*", @onblur = "return validateConfPassword();" })
                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <input type="checkbox" class="mt-1" id="checkboxvalue123" data-toggle="modal" data-target="#exampleModalScrollable">
                                        <label>I accept all <a href="javascript:void(0)" class="mt-1" data-toggle="modal" data-target="#exampleModalScrollable">Terms &amp; Use.</a></label>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <button type="submit" class="btn btn-success btn-sm" onclick="return confirmregistration();" id="Confirm" value="Confirm">Confirm</button>
                                    </div>
                                    <div class="row" id="divReg" style="display: none">
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-5">
                                            <button type="button" class="btn btn-success btn-sm" onclick="return saveregistration();" id="Register">Sign Up</button>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-lg-6 col-3">
                                            <button type="button" class="btn btn-primary btn-sm" onclick="return editregistration();" id="Edit">Edit</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="action_btns mt-3 text-center mb-3 ">
                                            <center><i class="fa fa-home"></i> Back to <a href="/Website/Index" class="text-dark"><strong> home</strong></a></center>
                                        </div>
                                    </div>
                                </div>
                             
                                
                            </form>
                        </div>
                        <!--Register Form end-->
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    <!-- The Modal -->
        <div class="modal fade" id="confirm_registration">
            <div class="modal-dialog">
                <div class="modal-content" style="background:#0f1b39;">
                    <!-- Modal body -->
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="row justify-content-center h-100 align-items-center">
                            <div class="col-md-8">
                                <div class="authincation-content">
                                    <form role="form" id="myFormsss" method="post" name="myFormsss" class="form-horizontal contact-form">

                                        <div class="row no-gutters">
                                            <div class="col-xl-12">
                                                <div class="auth-form">
                                                    <h3 class="thank text-white text-center">Thank You <span id="UserDisplayName1"></span> </h3>
                                                    <h6 class="card-title text-white text-center mt-3">
                                                        For Your Registration. Your Details are as Below <br />
                                                        <span class="credential"><span class="cred-head">Login ID : </span> <span class="cred-detail" id="UserLoginId1"></span></span><br />
                                                        <span class="credential"><span class="cred-head">Password : </span> <span class="cred-detail" id="UserPassword1"></span></span>

                                                    </h6>
                                                    <div class="d-flex justify-content-around mt-1">
                                                        <div class="field-wrapper pb-3">
                                                            <a href="/Home/ShareLinkRegistration" class="btn btn-yellow foractivation-btn py-2 pl-4 pr-4">
                                                                <div class="img-design"><img src="~/assets/img/addnew.png" style="width:50px" /></div> <br />
                                                                <span class="text-white">Add New</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--Modal terms & use -->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:100000">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header p-1 ml-4">
                        <h3 class="title" id="exampleModalLabel"><strong>Terms & Use</strong></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times; </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="title"><strong>Visiting the Website</strong></h4>
                        <p>These terms and conditions, including the privacy statement provided by this website (collectively, the "Terms and Conditions"), govern your use of this website.By accessing and using this website, you agree to comply with these Terms and Conditions.</p>
                        <p>The copyright of this website and all text, graphics, images, software and any other materials on this website belongs to  MY TRADE GLOBAL(" MTG Club") or its licensor.Except as permitted by the MY TRADE Product Disclosure Statement ("PDS"), the materials on this website are for your personal and non-commercial use only.</p>
                        <h4 class="mt-1 title"><strong>Entire Agreement</strong></h4>
                        <p>These Terms and Conditions (and, if applicable, MY TRADE GLOBAL contain the entire agreement between you and us regarding your access to and use of the website.MY TRADE GLOBAL may change these Terms and Conditions at any time by posting an updated version of these Terms and Conditions on this website.You are responsible for reviewing these terms and conditions from time to time, and if your use of the website after any changes have been published on the website constitutes your consent to such changes.</p>
                        <h4 class="mt-1 title"><strong>Third Party Materials and Websites</strong></h4>
                        <p>
                            This website may contain materials produced by third parties or links to other websites.These materials and websites are provided by third parties and are not under the direct control of MY TRADE GLOBAL and MY TRADE GLOBAL shall not be responsible for the operation or content of any third-party materials or other websites (whether or not linked to this website).You agree that if you install any link from other websites to this website without a prior written consent from MY TRADE GLOBAL, MY TRADE GLOBAL has the right to request
                            you to remove them.
                        </p>
                        <p>Although MY TRADE GLOBAL updates this website periodically, there is no guarantee that the information or materials contained in the website are up-to-date or accurate, or that the products or services available through the Website are available or useful.Materials displayed on this website may be changed by MY TRADE GLOBAL at any time without notice.</p>
                        <p>Except as provided above with respect to the services contained herein, this website and all software and other materials on the website are provided on an "present" and "as available" basis without warranty of accuracy, timeliness or completeness.To the maximum extent permitted by law, all representations and warranties, whether express, implied, statutory or otherwise, including, without limitation, any warranties or conditions of or relating to accuracy, timeliness, merchantability, satisfactory quality or fitness for a particular or any purpose, are excluded.</p>
                        <h4 class="mt-1 title"><strong>Right of Recovery</strong></h4>
                        <p>You agree to indemnify, to defend and maintain MY TRADE GLOBAL, its parent companies, subsidiaries, affiliates, managers and employees of any violation of the terms and conditions by you for the loss caused by negligence, or use the web sites, damage, claim or demand, including by any third party or by MY TRADE GLOBAL, its parents, subsidiaries, affiliates, managers and employees due to your violation of the terms and conditions or use the website negligence resulting reasonable legal fees.</p>
                        <h4 class="mt-1 title"><strong>Your Personal Data</strong></h4>
                        <p>If you register to become a customer of MY TRADE GLOBAL, in addition to any responsibilities you may have, you agree to ensure that all information you provide to MY TRADE GLOBAL is complete and accurate to the best of your knowledge and belief.You agree to notify MY TRADE GLOBAL immediately about any changes to any of the details you have provided to ensure that MY TRADE GLOBAL 's records are up-to-date and correct.</p>
                        <p>The personal data you provide to MY TRADE GLOBAL will only be used by MY TRADE GLOBAL in accordance with its Privacy Policy and privacy and data protection laws.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm mt-0" data-dismiss="modal">I Accept</button>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: transparent !important;
    }
</style>
<script>
    $('.close').click(function () {
        $('#confirm_registration').modal('hide');

    })
</script>

<!-- END MAIN CONTAINER -->
<script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
<script src="~/bootstrap/js/popper.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>

<!-- Required vendors -->
<script src="/UserPanel/vendor/global/global.min.js"></script>
<script src="/UserPanel/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="/UserPanel/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="/UserPanel/js/plugins-init/sweetalert.init.js"></script>
<script src="/UserPanel/js/custom.min.js"></script>



<script>
    function getsponsordetails(obj) {
        debugger;
        $("#divload").css({ 'display': '' });
        $(".errortext").removeClass("errortext");
        $.ajax({
            url: '/Home/GetSponserDetails',
            type: 'GET',
            dataType: 'JSON',
            data: { 'ReferBy': $(obj).val() },
            success: function (response) {
                if (response.Result == "Yes") {
                    $('#SponsorName').text(response.DisplayName);
                }
                else {

                    $("#SponsorId").addClass('errortext');
                    $('#SponsorName').val('');
                    $('#SponsorId').val('');
                    $('#SponsorId').focus();
                    alert(response.Result);
                }
            }
        })
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    function confirmregistration() {
        $(".errortext").removeClass("errortext");
        if ($('#SponsorId').val() == '') {
            $("#SponsorId").addClass('errortext');
            $('#SponsorId').focus();
            return false;
        }
        if ($('#FirstName').val() == '') {
            $("#FirstName").addClass('errortext');
            $('#FirstName').focus();
            return false;
        }
        if ($('#phone1').val() == '') {
            $("#phone1").addClass('errortext');
            $('#phone1').focus();
            return false;
        }
        if ($('#Email').val() == '') {
            $("#Email").addClass('errortext');
            $('#Email').focus();
            return false;
        }
        if ($('#Password2').val() == '') {
            $("#Password2").addClass('errortext');
            $('#Password2').focus();
            return false;
        }
        if ($('#ConfirmPassword').val() == '') {
            $("#ConfirmPassword").addClass('errortext');
            $('#ConfirmPassword').focus();
            return false;
        }

        $("#phone1").attr("disabled", "disabled");
        $("#FirstName").attr("disabled", "disabled");
        $("#SponsorId").attr("disabled", "disabled");
        $("#LastName").attr("disabled", "disabled");
        $("#Password2").attr("disabled", "disabled");
        $("#ConfirmPassword").attr("disabled", "disabled");
        $("#Email").attr("disabled", "disabled");
        $('#Confirm').attr("disabled", "disabled");
        $('#Confirm').hide();
        $('#divReg').show();
    }

    function editregistration() {
        $("#phone1").attr("disabled", false);
        $("#FirstName").attr("disabled", false);
        $("#LastName").attr("disabled", false);
        $("#SponsorId").attr("disabled", false);
        $("#LastName").attr("disabled", false);
        $("#Password2").attr("disabled", false);
        $("#ConfirmPassword").attr("disabled", false);
        $("#Email").attr("disabled", false);
        $('#Confirm').show();
        $('#Confirm').attr("disabled", false);
        $('#divReg').hide();
    }

    function saveregistration() {
        debugger;
        var CountryCode = $(".iti__selected-dial-code").text();

        country1.innerHTML = country.value.replace(/ *\([^)]*\) */g, "");

        var Country = $("#country1").text();

        $('#Register').attr("disabled", "disabled");
        $("#divload").css({ 'display': '' });
        var Leg = "";
        if ($('#left').prop('checked')) {
            Leg = "L";
        }
        else {
            Leg = "R";
        }
        $.ajax({
            url: "/Website/RegistrationAction",
            Type: "Get",
            DataType: "JSON",
            data: { SponsorId: $("#SponsorId").val(), FirstName: $("#FirstName").val(), LastName: $("#LastName").val(), MobileNo: $("#phone1").val(), Leg: Leg, Password: $("#Password2").val(), Email: $("#Email").val(), CountryCode: CountryCode, Country: Country },
            success: function (data) {
                debugger;
                if (data.Result == "1") {
                    $("#UserDisplayName1").text(data.Name),
                    $("#UserLoginId1").text(data.LoginId),
                    $("#UserPassword1").text(data.Password),
                   $('.popupContainer').css('display', 'none');
                    $('#modal').css('display', 'none');
                    $("#confirm_registration").modal("show");

                    $("#phone1").val("");
                    $("#FirstName").val("");
                    $("#LastName").val("");
                    $("#SponsorId").val("");
                    $("#LastName").val("");
                    $("#Password2").val("");
                    $("#ConfirmPassword").val("");
                    $("#Email").val("");
                    $("#SponsorName").text("");
                    $('#checkboxvalue123').prop('checked', false);
                    $("#confirm_registration").modal("show");
                    $("#phone1").attr("disabled", false);
                    $("#FirstName").attr("disabled", false);
                    $("#LastName").attr("disabled", false);
                    $("#SponsorId").attr("disabled", false);
                    $("#LastName").attr("disabled", false);
                    $("#Password2").attr("disabled", false);
                    $("#ConfirmPassword").attr("disabled", false);
                    $("#Email").attr("disabled", false);
                    $('#Confirm').show();
                    $('#Confirm').attr("disabled", false);
                    $('#divReg').hide();
                    $('#Register').attr("disabled", false);
                    @*window.location.href = '@Url.Action("ShareLinkRegistration", "Home")';*@
                }
                else {
                    $("#divload").css({ 'display': 'none' });
                    alert(data.Result);
                }
            }

        });
    }




    function isNumberKey(evt) {

        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
        && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function validateConfPassword() {
        var password = $('#Password2').val();
        var ConfirmPassword = $('#ConfirmPassword').val();
        if (password != ConfirmPassword) {
            $("#Password2").addClass('errortext');
            $("#ConfirmPassword").addClass('errortext');
            $('#Password2').val('');
            $('#ConfirmPassword').val('');
            alert("Password and Confirm Password are different")
            return false;
        }
    }
    function checkEmail() {
        debugger;

        if (($("#Email").val() != "")) {
            if ($("#Email").val()) {

                var email = document.getElementById('Email');
                var filter = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);

                if (!filter.test($("#Email").val())) {
                    alert('Please provide a valid email address');
                    $("#Email").val('');
                    $("#Email").focus();
                    return false;
                }
            }
        }
    }
    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css"
      crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    var input = document.querySelector("#phone1");
    window.intlTelInput(input, {
        separateDialCode: true,
        customPlaceholder: function (
            selectedCountryPlaceholder,
            selectedCountryData
        ) {
            return "e.g. " + selectedCountryPlaceholder;
        },
    });

    var iti = window.intlTelInputGlobals.getInstance(input);

    input.addEventListener('input', function () {
        var countryName = iti.getSelectedCountryData().name;
        document.getElementById('country').value = countryName;
    });
</script>
