@model MyTrade.Models.Admin

@{
    ViewBag.Title = "DistributePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">

@using (Html.BeginForm("DistributePayment", "Admin", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row layout-top-spacing">
            <div class="col-lg-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Distribute Payment</h4>
                                <span class="text-danger">
                                    @TempData["msg"]
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="row">
                            <div class="col-lg-3 col-md-3" style="margin-left:10px">
                                    <div class="form-group">
                                        <label>Last Closing Date : </label>
                                        @Html.DisplayFor(m => m.LastClosingDate)
                                        <br />
                                        <label>Last Payout No : </label>
                                        @Html.DisplayFor(m => m.PayoutNo)
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label> Clossing Date</label>
                                    @Html.TextBoxFor(m => m.ClosingDate, new { @class = "form-control", @Placeholder = "Closing Date" })

                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3" style="margin-top:28px">
                                <div class="form-group">
                                    <input class="btn btn-success pull-left" type="submit" value="Get Details" id="GetDetails" name="GetDetails" onclick="return Validate()" />
                                    @*<input type="submit" class="btn btn-success" value="Distribute Payment" name="btnSearch" onclick="return Validate()" />*@
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table id="html5-extension" class="table table-hover non-hover",data-page-length='25'>
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Login Id</th>
                                        <th>Name</th>
                                        <th>TPP Level Income</th>
                                        <th>TPS Level Income</th>
                                        <th>Gross Amount</th>
                                        <th>TDS Amount</th>
                                        <th>Processing</th>
                                        <th>Net Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstDistributePayment != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstDistributePayment)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.LoginId</td>
                                                    <td>@Item.Name</td>
                                                    <td>@Item.TPSLevelIncome</td>

                                                    <td><a href="#" class="btn btn-dark btn-sm" onclick="openDeletePopup('@Item.Pk_UserId');">Show</a></td>

                                                    <td>@Item.TPPLevelIncome</td>
                                                    <td>@Item.GrossAmount</td>
                                                    <td>@Item.ProcessingFee</td>
                                                    <td>@Item.TDSAmount</td>
                                                    <td>@Item.NetAmount</td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>@ViewBag.TPSLevelIncome </th>
                                        <th>@ViewBag.TPPLevelIncome</th>
                                        <th>@ViewBag.GrossIncome</th>
                                        <th>@ViewBag.Processing</th>
                                        <th>@ViewBag.TDS</th>
                                        <th>@ViewBag.NetIncome</th> 
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    ////modal

    @Html.HiddenFor(m => m.Pk_UserId)
    <div class="modal fade md" id="myModal" role="dialog" style="display: none;padding-top:100px;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" style="color: red">REASON</h6>
                    <button type="button" class="close" data-dismiss="modal" onclick="closeModal();">&times;</button>

                </div>
                <div class="modal-body" style="color: black">
                    <div class="row">
                        <div class="col-md-12">
                            @*<div class="form-group">
                                <label>Delete Remark</label>
                                @Html.TextAreaFor(m => m.DeleteRemarks, new { @class = "form-control", @placeholder = "Remark for delete" })
                            </div>*@
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="button" class="btn btn-sm btn-danger pull-right" onclick="return DeleteReceipt()" value="Delete Reciept" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
<script>
    $(document).ready(function () {
    })
    $('#ClosingDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeYear: true,
        changeMonth: true
    });
    function Validate() {
        $(".errortext").removeClass("errortext");
        if ($('#ClosingDate').val() == '') {
            $("#ClosingDate").addClass('errortext');
            $('#ClosingDate').focus();
            return false;
        }
    }

    function openDeletePopup(ReceiptID) {
        debugger;
        $("#Pk_UserId").val(ReceiptID);
        $("#myModal").modal('show');
    }

    function closeModal() {
        $("#myModal").hide();
    }

    </script>





