@model MyTrade.Models.UserWallet

@{
    ViewBag.Title = "AddWallet";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using (Html.BeginForm("AddWallet", "Wallet", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row layout-top-spacing">
            <div class="col-lg-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Recharge Wallet</h4>
                                @*<span class="text-danger">
                                    @TempData["Wallet"]
                                </span>*@
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        Id<span style="color: red">*</span>
                                        @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id", @onchange = "getmembername(this);", @Readonly = "true" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        Amount<span style="color: red">*</span>
                                        @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @Placeholder = "Amount", @onkeypress = "return isNumberOrDecimal(event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        Payment Mode<span style="color: red">*</span>
                                        @*@Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlpaymentmode, "Value", "Text"), new { @class = "form-control", @data_size = "7", @data_style = "select-with-transition", @onchange = "getpaymentdetails();" })*@
                                        @Html.DropDownListFor(m => m.PaymentMode, new SelectList(ViewBag.ddlpaymentmode, "Value", "Text"), new { @class = "form-control",@onchange = "getpaymentdetails();" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" id="bankname" style="display: none">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        <label> Bank Name <span style="color: red">*</span></label>
                                        @Html.TextBoxFor(m => m.BankName, new { @class = "form-control", @placeholder = "Bank Name" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 form-it" id="bankbranch" style="display: none">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        <label>  Branch <span style="color: red">*</span></label>
                                        @Html.TextBoxFor(m => m.BankBranch, new { @class = "form-control", @placeholder = "Bank Branch" })
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 form-it" id="chequeno" style="display: none">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        <label> Transaction No <span style="color: red">*</span></label>
                                        @Html.TextBoxFor(m => m.DDChequeNo, new { @class = "form-control", @placeholder = "Transaction No" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 form-it" id="chequdate" style="display: none">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                        <label> Transaction Date <span style="color: red">*</span></label>
                                        @Html.TextBoxFor(m => m.DDChequeDate, new { @class = "form-control", @placeholder = "Transaction Date" ,@readonly=true})
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="btn btn-success pull-left" type="submit" value="Submit" id="Save" name="Save" onclick="return validateform();" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />


<script>
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#LoginId').val() == '') {
            $("#LoginId").addClass('errortext');
            $('#LoginId').focus();
            return false;
        }
        if ($('#Amount').val() == '') {
            $("#Amount").addClass('errortext');
            $('#Amount').focus();
            return false;
        }
        if (($("#PaymentMode option:selected").text()) != 'Cash') {
            if ($('#BankName').val() == '') {
                $("#BankName").addClass('errortext');
                $('#BankName').focus();
                return false;
            }
            if ($('#DDChequeNo').val() == '') {
                $("#DDChequeNo").addClass('errortext');
                $('#DDChequeNo').focus();
                return false;
            }
            if ($('#DDChequeDate').val() == '') {
                $("#DDChequeDate").addClass('errortext');
                $('#DDChequeDate').focus();
                return false;
            }
            if ($('#BankBranch').val() == '') {
                $("#BankBranch").addClass('errortext');
                $('#BankBranch').focus();
                return false;
            }
        }

        return true;

    }
    
    $('#DDChequeDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });

    function preview_image(event, mode) {
        debugger;


        if (mode == 'Q') {
            var reader = new FileReader();
            reader.onload = function () {
                debugger;
                var output = document.getElementById('output_image3');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }


    }
    function getmembername() {
        debugger;
        var LoginId = $('#LoginId').val();
        $.ajax({
            url: '/Wallet/GetMemberName',
            type: "GET",
            dataType: "JSON",
            data: { LoginId: LoginId },
            success: function (data) {
                debugger;
                if (data.Result == "Yes") {
                    $('#txtname').html(data.DisplayName);

                    divname.style.display = "block";
                } else {
                    iziToast.error({
                        title: "",
                        message: "Invalid Sponser Id",
                        position: "topRight",
                    });
                    //alert("Invalid Sponser Id");
                    $('#txtname').html("");
                    $('#LoginId').val("");

                }
            }
        });
    }
    function getpaymentdetails() {
        debugger;
        var paymentmode = ($("#PaymentMode option:selected").text());
        if (paymentmode != "Cash") {
            bankname.style.display = "block";
            chequeno.style.display = "block";
            chequdate.style.display = "block";
            bankbranch.style.display = "block";
        }
        else {
            bankname.style.display = "none";
            chequeno.style.display = "none";
            chequdate.style.display = "none";
            bankbranch.style.display = "none";
        }
    }

                       function isNumberOrDecimal(evt) {
                        var charCode = (evt.which) ? evt.which : evt.keyCode;
                        if (charCode != 46 && charCode > 31
                          && (charCode < 48 || charCode > 57))
                            return false;

                        return true;
                    }



</script>
@if (TempData["msg"] != null)
{
    <script>
        $(document).ready(function () {
            Snackbar.show({
                text: '@TempData["msg"]',
                actionTextColor: '#fff',
                backgroundColor: '#1abc9c',
                pos: 'top-right'
            });
        });
    </script>
}
@if (TempData["error"] != null)
{
    <script>
        $(document).ready(function () {
            Snackbar.show({
                text: '@TempData["error"]',
                actionTextColor: '#fff',
                backgroundColor: '#e7515a',
                pos: 'top-right'
            });
        });
    </script>
}
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>







