@model MyTradeMTG.Models.UserReports

@{
    ViewBag.Title = "PayoutWallet";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
@using (Html.BeginForm("PayoutWalletLedger", "Report", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="content-body">
        <div class="container-fluid">
            <div class="row layout-top-spacing">
                <div class="col-lg-12 col-12 layout-spacing">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                    <h4>Payout Wallet Ledger</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @*<div class="col-lg-12 col-md-12">
                                    <p style="color:#ff0000">MTG /USDT Wallet(Payout): @ViewBag.PayoutBalance.00</p>
                                </div>*@
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label>
                                            From Date
                                        </label>
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "From Date" })

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label> To Date</label>
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "To Date" })

                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2" style="margin-top:40px">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-success btn-sm" value="Search" name="btnSearch" />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4" >
                                <div class="form-group">
                                    <p style="color:#ff0000">MTG /USDT Wallet(Payout): @ViewBag.PayoutBalance</p>
                                    <a href="/User/TransferToMTGWallet" class="btn btn-info btn-sm">Transfer to MTG Wallet</a>
                                </div>
                            </div>
                            </div>
                            <div class="row mt-4">
                                <table id="html5-extension" class="table table-hover non-hover" data-sortable="false" data-page-length='20'>
                                    <thead>
                                        <tr>
                                            <th class="sorting_disabled" data-sortable="false" >Sr No.</th>
                                            <th>Narration</th>
                                            <th>Cr. MTG /USDT</th>
                                            <th>Dr. MTG /USDT</th>
                                            <th>MTG /USDT Balance</th>
                                            <th>Transaction Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lst != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lst)
                                                {
                                                    <tr class="text-left">
                                                        <td class="sorting_disabled" data-sortable="false" >@i</td>
                                                        <td>@Item.Narration</td>
                                                        <td>@Item.CrAmount</td>
                                                        <td>@Item.DrAmount</td>
                                                        <td>@Item.Balance</td>
                                                        <td>@Item.TransactionDate</td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        }
        <script src="~/plugins/flatpickr/flatpickr.js"></script>
        <script src="~/plugins/flatpickr/custom-flatpickr.js"></script>
        <script>
            var f3 = flatpickr(document.getElementById('FromDate'), {
                // mode: "range"
            });
            var f4 = flatpickr(document.getElementById('ToDate'), {
                //   mode: "range"
            });
        </script>



