@model MyTrade.Models.AdminReports

@{
    ViewBag.Title = "Bonaza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
@using (Html.BeginForm("Bonaza", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row layout-top-spacing">
            <div class="col-lg-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Bonaza <a href="/AdminReports/BonazaRewardList" class="btn btn-primary float-right">Back to List</a></h4>
                                <span class="text-danger">
                                    @TempData["Bonaza"]
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label>Reward Name<span style="color:red">*</span></label>
                                    @Html.DropDownListFor(m => m.Fk_BonazaId, new SelectList(ViewBag.ddlReward, "Value", "Text"), new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label>Reward</label>
                                    @Html.TextBoxFor(m => m.Reward, new { @class = "form-control", @Placeholder = "Reward" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label>Business Target</label>
                                    @Html.TextBoxFor(m => m.BusinessTarget, new { @class = "form-control", @Placeholder = "Business Target" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label>Reward Amount</label>
                                    @Html.TextBoxFor(m => m.RewardAmount, new { @class = "form-control", @Placeholder = "Reward Amount" })
                                </div>
                            </div>
                           
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label>Reward  Image</label>
                                    <input type="file" class="form-control" name="RewardImage" id="RewardImage" />
                                    @if (Model.FK_BonazaDetailsId != "" && Model.RewardImage != "")
                                    {
                                        <img src="@Model.RewardImage" height="100"/>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 " style="margin-top:16px;">
                                <div class="form-group">
                                    @if (Model.FK_BonazaDetailsId != null)
                                    {
                                        @Html.HiddenFor(m => m.FK_BonazaDetailsId);
                                        <input type="submit" class="btn btn-success" id="Update" name="Update" value="Update" onclick="return ValidateForm();" />
                                    }
                                    else
                                    {
                                        <input type="submit" class="btn btn-success" id="save" name="save" value="Save" onclick="return ValidateForm();" />
                                    }
                                </div>
                            </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
}

<script>
    function ValidateForm(){
        $("#divload").css({ 'display': 'none' });
        $(".errortext").removeClass('errortext');

        if ($("#Fk_BonazaId").val() == '') {
            $("#Fk_BonazaId").addClass('errortext');
            $("#Fk_BonazaId").focus();
            return false;
        }
        if ($("#Reward").val() == '') {
            $("#Reward").addClass('errortext');
            $("#Reward").focus();
            return false;
        }
        //if ($("#BusinessTarget").val() == '') {
        //    $("#BusinessTarget").addClass('errortext');
        //    $("#BusinessTarget").focus();
        //    return false;
        //}
        //if ($("#RewardAmount").val() == '') {
        //    $("#RewardAmount").addClass('errortext');
        //    $("#RewardAmount").focus();
        //    return false;
        //}
    }
</script>

<script src="~/plugins/flatpickr/flatpickr.js"></script>
<script src="~/plugins/flatpickr/custom-flatpickr.js"></script>
<script>
    var f3 = flatpickr(document.getElementById('FromDate'),
        {
            // mode: "range"
        });
    var f3 = flatpickr(document.getElementById('ToDate'),
        {
            // mode: "range"
        });

</script>
<style>
    .errortext{
        border: 2px solid red;
        background: #fab4b4!important;
    }
</style>










