@model MyTrade.Models.Account
@{
    ViewBag.Title = "TopUp";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@using (Html.BeginForm("TopUp", "User", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
<div class="container">
    <div class="row layout-top-spacing">
        <div class="col-lg-12 col-12 layout-spacing">
            <div class="statbox widget box box-shadow">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>Top-Up</h4>
                            <span class="text-danger">
                                @TempData["TopUp"]
                            </span>
                        </div>
                    </div>
                </div>
                <div class="widget-content widget-content-area">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label for="LoginId">LoginId</label>
                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @placeholder = "Login Id", @disabled = "disabled" })
                            <p class="text-success" id="spName"></p>
                        </div>
                        <div class="col-md-4">
                            <label for="Package">Package</label>
                            @Html.DropDownListFor(m => m.PackageId, new SelectList(ViewBag.ddlProduct, "Value", "Text"), new { @class = "form-control" })
                            <p class="text-success" id="spName"></p>
                        </div>

                        <div class="col-md-4">
                            <label for="Amount">Amount</label>
                            <label style="color:red;font-weight:bold">1000 * </label>
                            @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", @placeholder = "Amount", @onkeypress = "return isNumberKey(event);", @onchange = "return CalculateAmount();" })
                        </div>

                    </div>
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <label for="Amount">Total Amount</label>
                            @Html.TextBoxFor(m => m.TotalAmount, new { @class = "form-control", @placeholder = "Amount", @readonly = "true" })
                        </div>
                        <div class="col-md-4">
                            <label for="NoofPins">Top-Up Date</label>
                            @Html.TextBoxFor(m => m.TopUpDate, new { @class = "form-control", @placeholder = "dd/mm/yy" })
                        </div>
                        <div class="col-md-4">
                            <label for="FinalAmount">Remarks</label>
                            @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control", @placeholder = "Remarks" })
                        </div>
                    </div>
                    <input class="btn btn-success" name="btn_Pin" id="btn_Pin" type="submit" value="Submit" />
                </div>
            </div>
        </div>
    </div>
</div>
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script>
    //$(function () {
    //    $('#TopUpDate').datepicker({
    //        dateFormat: 'dd/mm/yy',
    //    });
    //    $('#TransactionDate').datepicker({
    //        dateFormat: 'dd/mm/yy',
    //    });
    //});
    $(function () {
        var $j = jQuery.noConflict();
        $("#TopUpDate").datepicker({
            dateFormat: 'dd/mm/yy',
        });
        $("#TransactionDate").datepicker({
            dateFormat: 'dd/mm/yy',
        });
    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>