@model MyTradeMTG.Models.Home

@{
    ViewBag.Title = "WelcomeLetter";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="/assets/css/users/account-setting.css" rel="stylesheet" type="text/css" />

<style>



ul {
  padding-left: 15px;
}

/*--------------------------------------------------------------
3. Invoice General Style
----------------------------------------------------------------*/

.tm_f40 {
  font-size: 35px;
}


.tm_accent_bg,
.tm_accent_bg_hover:hover {
  background-color: #14112e;
}



.tm_container {
  max-width: 880px;
  padding: 30px 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.tm_text_center {
  text-align: center;
}

.tm_text_uppercase {
  text-transform: uppercase;
}

.tm_text_right {
  text-align: right;
}

.tm_align_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

hr {
  background: #dbdfea;
  height: 1px;
  border: none;
  margin: 0;
}

.tm_invoice {
  background: #fff;
  border-radius: 10px;
  padding: 50px;
}

.tm_font_style_normal {
  font-style: normal;
}

.tm_sign img {
  max-height: 45px;
}

.tm_coffee_shop_img {
  position: absolute;
  height: 200px;
  opacity: 0.04;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tm_coffee_shop_img img {
  max-height: 100%;
}

.tm_invoice.tm_style1 .tm_invoice_right {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 60%;
}

.tm_invoice.tm_style1 .tm_invoice_table {
  grid-gap: 1px;
}

.tm_invoice.tm_style1 .tm_invoice_table > * {
  border: 1px solid #dbdfea;
  margin: -1px;
  padding: 8px 15px 10px;
}

.tm_invoice.tm_style1 .tm_invoice_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tm_invoice.tm_style1 .tm_invoice_head .tm_invoice_right div {
  line-height: 1em;
}

.tm_invoice.tm_style1 .tm_invoice_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tm_invoice.tm_style1 .tm_invoice_info_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #dbdfea;
  border-bottom: 1px solid #dbdfea;
  padding: 11px 0;
}


.tm_invoice.tm_style1 .tm_invoice_info_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tm_invoice.tm_style1 .tm_invoice_info_list > *:not(:last-child) {
  margin-right: 20px;
}

.tm_invoice.tm_style1 .tm_logo img {
  max-height: 50px;
}

.tm_invoice.tm_style1 .tm_logo.tm_size1 img {
  max-height: 60px;
}

.tm_invoice.tm_style1 .tm_logo.tm_size2 img {
  max-height: 70px;
}

.tm_invoice.tm_style1 .tm_grand_total {
  padding: 8px 15px;
}

.tm_invoice.tm_style1 .tm_box_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tm_invoice.tm_style1 .tm_box_3 > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tm_invoice.tm_style1 .tm_box_3 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tm_invoice.tm_style1 .tm_box_3 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tm_invoice.tm_style1 .tm_box_3 ul li:not(:last-child) {
  margin-bottom: 5px;
}

.tm_invoice.tm_style1 .tm_box_3 ul span {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.tm_invoice.tm_style1 .tm_box_3 ul span:first-child {
  margin-right: 5px;
}

.tm_invoice.tm_style1 .tm_box_3 ul span:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tm_invoice.tm_style2 .tm_invoice_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dbdfea;
  padding-bottom: 15px;
  position: relative;
}

.tm_invoice.tm_style2 .tm_invoice_left {
  width: 30%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.tm_invoice.tm_style2 .tm_invoice_right {
  width: 70%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.tm_invoice.tm_style2 .tm_invoice_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tm_invoice.tm_style2 .tm_invoice_info_left {
  width: 30%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.tm_invoice.tm_style2 .tm_invoice_info_right {
  width: 70%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.tm_invoice.tm_style2 .tm_logo img {
  max-height: 60px;
}

.tm_invoice.tm_style2 .tm_invoice_title {
  line-height: 0.8em;
}

.tm_invoice.tm_style2 .tm_invoice_info_in {
  padding: 12px 20px;
  border-radius: 10px;
}

.tm_invoice.tm_style2 .tm_card_note {
  display: inline-block;
  padding: 6px 15px;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-top: 5px;
}


.tm_invoice.tm_style1.tm_type1 {
  padding: 0px 50px 30px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px gainsboro;
  border-radius: 0;
  /*border: 2px solid #fad320;*/
}

.tm_invoice.tm_style1.tm_type1 .tm_invoice_head {
  /*height: 110px;*/
  position: relative;
}

.tm_invoice.tm_style1.tm_type1 .tm_shape_bg {
  position: absolute;
  height: 100%;
  width: 70%;
  -webkit-transform: skewX(35deg);
          transform: skewX(35deg);
  top: 0px;
  right: -100px;
  overflow: hidden;
}

.tm_invoice.tm_style1.tm_type1 .tm_shape_bg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: skewX(-35deg) translateX(-45px);
          transform: skewX(-35deg) translateX(-45px);
}

.tm_invoice.tm_style1.tm_type1 .tm_invoice_right {
  position: relative;
  z-index: 2;
}

.tm_invoice.tm_style1.tm_type1 .tm_logo img {
  max-height: 70px;
}

.tm_invoice.tm_style1.tm_type1 .tm_invoice_info {
  position: relative;
  padding: 4px 0;
}

.tm_invoice.tm_style1.tm_type1 .tm_card_note,
.tm_invoice.tm_style1.tm_type1 .tm_invoice_info_list {
  position: relative;
  z-index: 1;
}

.tm_invoice.tm_style2.tm_type1 {
  padding-top: 0;
  padding-bottom: 0;
  border-width: 40px 0 0;
  border-style: solid;
  position: relative;
  overflow: hidden;
}

.tm_invoice.tm_style2.tm_type1.tm_small_border {
  border-width: 7px 0 0;
}

.tm_invoice.tm_style2.tm_type1 .tm_shape_bg {
  position: absolute;
  height: 100%;
  width: 42%;
  -webkit-transform: skewX(-35deg);
          transform: skewX(-35deg);
  top: 0px;
  left: -100px;
}

.tm_invoice.tm_style2.tm_type1 .tm_invoice_head {
  padding-top: 15px;
  border-bottom: none;
}

.tm_invoice.tm_style2.tm_type1 .tm_logo {
  position: relative;
  z-index: 2;
}

.tm_invoice.tm_style2.tm_type1 .tm_bottom_invoice {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 50px 20px;
  border-top: 1px solid #dbdfea;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px -50px 0;
}

.tm_invoice_content {
  position: relative;
  z-index: 10;
}

.tm_invoice_wrap {
  position: relative;
}

@@media (max-width: 767px) {
  .tm_col_4 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .tm_col_2_md {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .tm_m0_md {
    margin: 0;
  }
  .tm_mb10_md {
    margin-bottom: 10px;
  }
  .tm_mb15_md {
    margin-bottom: 15px;
  }
  .tm_mb20_md {
    margin-bottom: 20px;
  }
  .tm_mobile_hide {
    display: none;
  }
  .tm_invoice {
    padding: 30px 20px;
  }
  .tm_invoice .tm_right_footer {
    width: 100%;
  }

  .tm_invoice.tm_style2 .tm_card_note {
    margin-top: 0;
  }


  .tm_invoice.tm_style2 .tm_invoice_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tm_invoice.tm_style2 .tm_invoice_head > * {
    width: 100%;
  }
  .tm_invoice.tm_style2 .tm_invoice_head .tm_invoice_left {
    margin-bottom: 15px;
  }
  .tm_invoice.tm_style2 .tm_invoice_head .tm_text_right {
    text-align: left;
  }
  .tm_invoice.tm_style2 .tm_invoice_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tm_invoice.tm_style2 .tm_invoice_info > * {
    width: 100%;
  }
  .tm_invoice.tm_style1.tm_type1 {
    padding: 30px 20px;
  }
  .tm_invoice.tm_style1.tm_type1 .tm_invoice_head {
    height: initial;
  }
  .tm_invoice.tm_style1.tm_type1 .tm_invoice_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }
  .tm_invoice.tm_style1.tm_type1 .tm_logo img {
    max-height: 60px;
  }
  .tm_invoice.tm_style2.tm_type1 {
    border-width: 20px 0 0;
  }
  .tm_invoice.tm_style2.tm_type1 .tm_shape_bg {
    width: 250px;
    height: 80px;
  }
  .tm_invoice.tm_style2.tm_type1 .tm_invoice_head .tm_text_center {
    text-align: left;
  }
  .tm_invoice.tm_style2.tm_type1 .tm_logo {
    top: -8px;
    margin-bottom: 15px;
  }
  .tm_invoice.tm_style2 .tm_invoice_info_in {
    padding: 12px 15px;
  }
  .tm_padd_left_15_md {
    padding-left: 15px !important;
  }
  .tm_invoice.tm_style2 .tm_logo img {
    max-height: 50px;
  }

  .tm_shape_2.tm_type1 {
    display: none;
  }
}

@@media (max-width: 500px) {
  .tm_border_none_sm {
    border: none !important;
  }
  .tm_flex_column_sm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tm_align_start_sm {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tm_m0_sm {
    margin-bottom: 0;
  }
  .tm_invoice.tm_style1 .tm_logo {
    margin-bottom: 10px;
  }
  .tm_invoice.tm_style1 .tm_invoice_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tm_invoice.tm_style1 .tm_invoice_head .tm_invoice_left,
  .tm_invoice.tm_style1 .tm_invoice_head .tm_invoice_right {
    width: 100%;
  }
  .tm_invoice.tm_style1 .tm_invoice_head .tm_invoice_right {
    text-align: left;
  }
  .tm_list.tm_style2 li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tm_list.tm_style2 li > * {
    padding: 5px 20px;
  }
  .tm_col_2,
  .tm_col_3 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .tm_col_2_sm {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .tm_table.tm_style1.tm_type1 {
    padding: 0px 20px;
  }
  .tm_box2_wrap {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .tm_box.tm_style1.tm_type1 {
    max-width: 100%;
    width: 100%;
  }
  .tm_invoice.tm_style1 .tm_invoice_left {
    max-width: 100%;
  }
  .tm_f50 {
    font-size: 30px;
    color:#fff
  }
  .tm_invoice.tm_style1 .tm_invoice_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .tm_invoice.tm_style1 .tm_invoice_info_list {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .tm_f30 {
    font-size: 22px;
  }
}
/*@@media print {
        #print_btn {
            display: none !important;
        }
    }*/

/*--------------------------------------------------------------
  Will apply only print window
----------------------------------------------------------------*/

[data-theme-version="dark"] {
    background: #f5f6fa;
    color: #828690;
}
/*# sourceMappingURL=style.css.map */
</style>
@using (Html.BeginForm("WelcomeLetter", "User", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
{


   

    <div class="content-body">
        <div class="container-fluid">
            <div class="layout-px-spacing">

                <div class="tm_container">
                    <div class="tm_invoice_wrap">
                        <div class="tm_invoice tm_style1 tm_type1" id="printableDiv1">
                            <div class="tm_invoice_in">
                                <div class="tm_invoice_head tm_top_head tm_mb15 tm_align_center">
                                    <div class="tm_invoice_left">
                                        <div class="tm_logo"><img src="/MyTradeMTGWebsite/asset/img/wbg.gif" alt="Logo"></div>
                                    </div>
                                    <div class="tm_invoice_right tm_text_right tm_mobile_hide pt-2">
                                        <div class="tm_f40 tm_text_uppercase text-white">Welcome Letter</div>
                                        <p class="mb-2 text-white">Date: <span id="datet">@ViewBag.PermanentDate</span></p>
                                    </div>
                                    <div class="tm_shape_bg tm_accent_bg tm_mobile_hide"></div>
                                </div>
                               
                                <div class="tm_invoice_head tm_mb10">
                                    <div class="tm_invoice_left" style="margin-top: 40px;">
                                        <p class="mb-0"><span>User ID</span> : @Model.LoginId</p>
                                        <p class="mb-0"><span>Contact Address </span>: @ViewBag.CustomerId</p>
                                        <p class="mb-0"><span>Name </span>: @Session["FullName"]</p>
                                        <p class="mb-0"><span>Address</span> : @ViewBag.Address</p>
                                        <p class="mb-0"><span>Mobile No</span> : @ViewBag.MobileNo </p>
                                        <p class="mb-0"><span>Date of Activation</span> : @ViewBag.PermanentDate</p>
                                        <p class="mb-0"><span>Total MTG</span> : @ViewBag.FirstTopUpMTG</p>
                                        <p class="mb-0"><span>Package </span>: @ViewBag.PackageTypeName (@ViewBag.ProductName)</p><span></span> 
                                        
                                    </div>
                                   
                                </div>
                                <div class="tm_invoice_info">
                                    <div class="tm_card_note"><b class="tm_primary_color">Subject: </b> Welcome to the team !</div>
                                   
                                </div>
                                <div class="mt-4 pr-md-4" style="text-align: justify; text-justify: inter-word;">
                                    <p>Dear <span class="text_warning">@Session["FullName"],</span></p>
                                    <p>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Congratulations on your decision to come with us
                                        You are now a part of the opportunity of the Year. MYTRADE.GLOBAL
                                        is an exciting "People Business". A business, that has the potential, to
                                        turn your dreams, into reality. As you build your business, you will
                                        establish lifelong friendships and develop support systems
                                        unparalleled in any other business. We pledge our best efforts to
                                        provide the levels of continuing support necessary to ensure that
                                        your business is a total success. You are in this business for yourself,
                                        not by yourself. We have developed an effective and proven progress
                                        plan to help you launch a profitable business of your own. We are
                                        confident that you will receive gratification from your involvement
                                        with MYTRADE.GLOBAL and we wish you every Success! Please note
                                        we are providing you an opportunity to earn money which is
                                        optional, your earnings will depend directly in the amount of efforts
                                        you put to develop your business.
                                    </p>
                                    <label>Thanking You !</label><br />
                                    <label>My Trade Global</label>
                                    <a href="/User/PrintWelcomeLetter" class="btn btn-info btn-sm mt-3" style="float:right" target="_blank"><i class="fa fa-download"></i> Go to Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
<script src="~/MyTradeWebsite/assets/js/jquery.min.js"></script>
@*<script>
        $(document).ready(function () {
            debugger;
            var today = new Date();
            //var year = today.getFullYear();
            //var mes = today.getMonth() + 1;
            //var dia = today.getDate();
            //var fecha = dia + "/" + mes + "/" + year;
            document.getElementById('datet').innerHTML = today.toLocaleDateString('pt-PT');
        })
</script>*@
