@model MyTradeMTG.Models.Home

@{
    ViewBag.Title = "WelcomeLetter";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="/assets/css/users/account-setting.css" rel="stylesheet" type="text/css" />
<style>
    .text_warning
    {
        color:#fbda63 !important;
    }
</style>
@using (Html.BeginForm("WelcomeLetter", "User", FormMethod.Post, new { @id = "form", @enctype = "multipart/form-data" }))
{
    <div class="content-body">
        <div class="container-fluid">
            <div class="layout-px-spacing">
                <div class="account-settings-container">
                    <div class="account-content">
                        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing" id="printableDiv1">
                                    <div id="general-info" class="section general-info">
                                        <div class="info">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-4 d-flex justify-content-between">
                                                    <h3>Welcome Letter</h3>
                                                    <a href="#" class="btn btn-info btn-sm" onclick="printIt('printableDiv1')"><i class="fa fa-download"></i> Download</a>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-4">
                                                    <div class="mt-4 pr-md-4">
                                                        <p class="mb-0"><span class="text-white">User ID</span> : @Model.LoginId</p>
                                                        <p class="mb-0"><span class="text-white">Contact Address </span>: @ViewBag.CustomerId</p>
                                                        <p class="mb-0"><span class="text-white">Name </span>: @Session["FullName"]</p>
                                                        <p class="mb-0"><span class="text-white">Address</span> : @ViewBag.Address</p>
                                                        <p class="mb-0"><span class="text-white">Mobile No</span> : @ViewBag.MobileNo </p>
                                                        <p class="mb-0"><span class="text-white">Date of Activation</span> : @ViewBag.PermanentDate</p>
                                                        <p class="mb-0"><span class="text-white">Package </span>: @ViewBag.PackageTypeName (@ViewBag.ProductName)</p><span></span> 
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-4 mt-4">
                                                   <h4>Subject: Welcome to the team !</h4>
                                                    <div class="mt-4 pr-md-4">
                                                        <p>Dear <span class="text_warning">@Session["FullName"],</span></p>
                                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Congratulations on your decision to come with us
                                                           You are now a part of the opportunity of the Year. MYTRADE.GLOBAL
                                                           is an exciting "People Business". A business, that has the potential, to
                                                           turn your dreams, into reality. As you build your business, you will
                                                           establish lifelong friendships and develop support systems
                                                           unparalleled in any other business. We pledge our best efforts to
                                                           provide the levels of continuing support necessary to ensure that
                                                           your business is a total success. You are in this business for yourself,
                                                           not by yourself. We have developed an effective and proven progress
                                                           plan to help you launch a profitable business of your own. We are
                                                           confident that you will receive gratification from your involvement
                                                           with MYTRADE.GLOBAL and we wish you every Success! Please note
                                                           we are providing you an opportunity to earn money which is
                                                           optional, your earnings will depend directly in the amount of efforts
                                                           you put to develop your business.</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                        <label>Thanking You !</label><br />
                                                        <label>My Trade Global</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
function printIt(divID) {
    var divContent = document.getElementById(divID);
    var WinPrint = window.open('', '', 'width=1200,height=600');
    WinPrint.document.write(divContent.innerHTML);
    WinPrint.document.close();
    WinPrint.focus();
    WinPrint.print();
    WinPrint.close();
}
</script>