@model MyTrade.Models.Home

@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>My Trade || Forget Password</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="/UserPanel/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/MytradeWebsite/assets/img/favicon.png">
    <style>
        body{
            background:#05031a;
        }
    </style>
</head>
<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-3">
                                        <a href="/Home/index"><img src="~/MytradeWebsite/assets/img/logo.png" style="width:170px" alt=""></a>
                                    </div>
                                    <h4 class="text-center mb-4">Forget Password</h4>
                                   @using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post, new { @id = "Form1" }))
                                   {
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Login Id</strong></label>
                                            @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "LoginId" })
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Mobile No.</strong></label>
                                           @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @Placeholder = "Mobile No" })
                                        </div>
                                        <div class="text-center">
                                            <input type="submit" id="forgetpassword" class="btn btn-primary btn-block" name="forgetpassword" value="Submit" onclick="return validateform();" />
                                            @*<button type="submit" class="btn btn-primary btn-block">Sign Me In</button>*@
                                        </div>
                                        <div class="new-account mt-3">
                                            <p>Back To <a href="/Home/Login" class="text-primary">Log In</a></p>
                                        </div>
                                        <div class="division">
                                            <span class="text-danger"> @TempData["Login"] </span><br />
                                        </div>
                                   }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<body class="form">
        <div class="form-container outer">
            <div class="form-form">
                <div class="form-form-wrap">
                    <div class="form-container">
                        <div class="form-content">
                            <div class="maintanence-hero-img">
                                <img alt="logo" src="~/assets/img/tradelogo.png">
                            </div>
                            <h1 class="">Forget Password</h1><br />
                            @*<p class="">Log in to your account to continue.</p>*
                            @using (Html.BeginForm("ForgetPassword", "Home", FormMethod.Post, new { @id = "Form1" }))
                            {
                                <div id="username-field" class="field-wrapper input">
                                    <div class="d-flex justify-content-between">
                                        <label for="password">LoginId</label>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "LoginId" })

                                    <div class="d-flex justify-content-between">
                                        <label for="password">Mobile</label>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @Placeholder = "Mobile No" })
                                </div>
                            <div class="d-sm-flex justify-content-between">
                                <div class="field-wrapper">
                                    <input type="submit" id="forgetpassword" class="btn btn-primary float-right btn-inline" name="forgetpassword" value="Submit" onclick="return validateform();" />

                                </div>
                            </div>
                            <div class="division">
                                <span class="text-danger"> @TempData["Login"] </span><br />
                                <span>OR</span>
                            </div>
                            <p class="signup-link">Back To <a href="/Home/Login">Log In</a></p>
    }
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->*@
    <script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="~/bootstrap/js/popper.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    <script src="~/assets/js/authentication/form-2.js"></script>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#divload").css({ 'display': 'none' });
    });
    function validateform() {
        $(".errortext").removeClass("errortext");
        if ($('#MobileNo').val() == '') {
            $("#MobileNo").addClass('errortext');
            $('#MobileNo').focus();
            return false;
        }
        $("#divload").css({ 'display': '' });
        return true;
    }
</script>
<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>

