@model MyTradeMTG.Models.UserWallet

@{
    ViewBag.Title = "ViewTPS";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .card, table.dataTable thead th{
        background:#f7f7f7 !important;
        color:#000 !important;
       
    }
    .card{
         border:5px solid #e0bc72;
         border-radius:30px;
    }
    .dataTables_wrapper input[type="search"]
    {
        background:#f7f7f7 !important;
    }
    .table thead th,.text_color
    {
        color:#000;
        font-size:1rem;
    }
</style>
@using (Html.BeginForm("ViewTPS", "Wallet", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="content-body">
        <div class="container-fluid">
            <div class="row layout-top-spacing">
                <div class="col-lg-12 col-12 layout-spacing">
                    <div class="card">
                        <div class="card-header p-3">
                            <div class="row" style="width:100%">
                                <div class="col-sm-4">
                                    <h4 class="text-dark">View @ViewBag.PackageTypeName</h4>
                                    <span class="text-danger">
                                        @TempData["ROIIncome"]
                                    </span>
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/MyTradeMTGWebsite/asset/img/wbg.gif" class="img-fluid" style="width:12rem" />
                                </div>
                                <div class="col-sm-4">  
                                    <a href="#" class="btn btn-info btn-sm" style="float:right" onclick="window.print()"><i class="fa fa-download"></i> Download</a>
                                    @*<a href="/User/TopUpList" class="btn btn-info btn-sm" style="float:right">Back</a>*@
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6 class="text-dark"><span class="text_color">Total MTG to be received </span>: @ViewBag.TotalAmount</h6>
                                    <h6 class="text-dark"><span class="text_color">Total MTG received</span> : @ViewBag.ReceivedAmount</h6>
                                    <h6 class="text-dark"><span class="text_color">Balance MTG to be received</span> : @ViewBag.BalanceAmount</h6>
                                </div>
                                <table i="html5-extension" class="table non-hover pt-2" style="width:100%" data-page-length='20'>
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>TopUp ID</th>
                                            <th>T_Bonus</th>
                                            <th>T_Bonus Date</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            if (Model.lstROI != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lstROI)
                                                {
                                                    <tr class="text-left">
                                                        <td>@i</td>
                                                        <td>@Item.TopUpIdRandom</td>
                                                        <td>@Item.ROI</td>
                                                        <td>@Item.Date</td>
                                                        <td>@Item.Status</td>
                                                    </tr>
                                                    i++;
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />

<script>
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
    });
</script>*@


















