@model MyTrade.Models.AdminReports

@{
    ViewBag.Title = "BonazaRewardList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
@using (Html.BeginForm("BonazaRewardList", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row layout-top-spacing">
            <div class="col-lg-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                              
                                <h4>Bonaza Reward List</h4>
                                <span class="text-danger">
                                    @TempData["Msg"]
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label> From Date</label>
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label> To Date</label>
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "dd/mm/yyyy" })
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3" style="margin-top:28px">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success pull-left" id="Search" name="Search" value="Search" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table id="html5-extension" class="table table-hover non-hover" ,data-page-length='25'>
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Reward Name</th>
                                        <th>Reward</th>
                                        <th>Reward Amount</th>
                                        <th>Business Target</th>
                                        <th>From Date</th>
                                        <th>To Date</th>
                                        <th>Reward Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstTDSReport != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstTDSReport)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.RewardName</td>
                                                    <td>@Item.Reward</td>
                                                    <td>@Item.Amount</td>
                                                    <td>@Item.Target</td>
                                                    <td>@Item.FromDate</td>
                                                    <td>@Item.ToDate</td>
                                                    <td>@Item.Image</td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/plugins/flatpickr/flatpickr.js"></script>
<script src="~/plugins/flatpickr/custom-flatpickr.js"></script>
<script>
    var f3 = flatpickr(document.getElementById('FromDate'),
        {
            // mode: "range"
        });
    var f3 = flatpickr(document.getElementById('ToDate'),
        {
            // mode: "range"
        });

</script>








