@model MyTrade.Models.AdminReports

@{
    ViewBag.Title = "ClaimRewardReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ClaimRewardReport", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row layout-top-spacing">
            <div class="col-lg-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Claim Reward Report</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">

                        <table id="html5-extension" class="table table-hover non-hover" style="width:100%" data-page-length='20'>
                            <thead>
                                <tr>
                                    <th>S No.</th>
                                    <th>Name</th>
                                    <th>Target</th>
                                    <th>Award</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                   @if (Model != null)
                                        {
                                            if (Model.lstRew != null)
                                            {
                                                int i = 1;
                                                foreach (var Item in Model.lstRew)
                                                {
                                                    <tr class="text-left">
                                                        <td>@i</td>
                                                        <td>@Item.AssociateName (@Item.LoginId)</td>
                                                        <td>@Item.Target</td>
                                                        <td>
                                                            <img src="@Item.PanImage" height="100" width="100" />
                                                            <br />@Item.RewardName
                                                        </td>
                                                        <td>@Item.Status</td>
                                                    </tr>

                                                    i++;
                                                }
                                            }
                                        }
                                </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
}