@model MyTrade.Models.AdminReports

@{
    ViewBag.Title = "JoiningPackageReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("JoiningPackageReport", "AdminReports", FormMethod.Post, new { @id = "form1", enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row layout-top-spacing">
            <div class="col-lg-12 col-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4>Joining Package List</h4>
                            </div>
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label>Login Id</label>
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control", @Placeholder = "Login Id" })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label> From Date</label>
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Placeholder = "dd/mm/yyyy",@readonly=true })
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group">
                                    <label> To Date</label>
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Placeholder = "dd/mm/yyyy", @readonly = true })
                                </div>
                            </div>
                            <div class="col-lg-3" style="margin-top:15px;">
                                <div class="form-group">
                                    <br />
                                    <input type="submit" id="btnSearch" class="btn btn-success pull-left" name="btnSearch" value="Search" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table id="html5-extension" class="table table-hover non-hover" data-page-length='50'>
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>SponsorId</th>
                                        <th>Sponsor Name</th>
                                        <th>LoginId</th>
                                        <th>Name</th>
                                        <th>Pin Amount</th>
                                        <th>BV</th>
                                        <th>Package Type</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstWalletLedger != null)
                                        {
                                            int i = 1;
                                            foreach (var Item in Model.lstWalletLedger)
                                            {
                                                <tr class="text-left">
                                                    <td>@i</td>
                                                    <td>@Item.SponsorId</td>
                                                    <td>@Item.SponsorName</td>
                                                    <td>@Item.LoginId</td>
                                                    <td>@Item.Name</td>
                                                    <td>@Item.Amount</td>
                                                    <td>@Item.BV</td>
                                                    <td>@Item.Package</td>
                                                    <td>@Item.Date</td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
<script src="~/MyTradeWebsite/assets/js/jquery.min.js"></script>
<script>
    jQuery.noConflict();
    $('#FromDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear:true

    });
    jQuery.noConflict();
    $('#ToDate').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true

    });
 
    </script>